.app {
    height: 100vh;
    overflow-y: scroll;
    background: url('../../assets/hero_bg.jpg') center / cover no-repeat;
}

.content {
    display: grid;
    grid-template-columns: 55% 45%;
    max-width: 65rem;
    margin: 0 auto;
    padding: 3rem;
    &__interactive {
        padding-left: 40px;
    }
}

@media screen and (max-width: 48rem) {
    .content {
        grid-template-columns: 1fr;
        &__interactive {
            padding-left: 0;
            grid-row: -1/1;
            margin-bottom: 2rem;
        }
    }
}